body {
    font-family: sans-serif;
    color: #d82c2c;
    margin: 0;
}

.container {
    max-width: 640px;
    margin: 0 auto;
    padding: 24px;
}

h1 {
    font-size: 1.4rem;
    margin-bottom: 16px;
}

.submit{
    color: aqua;
}

